NODE_ENV=development
PORT=3000

# Local Docker / local machine defaults
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/invoice_db
DATABASE_MIGRATION_URL=postgresql://postgres:postgres@localhost:5432/invoice_db
DATABASE_REQUIRE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=

# Supabase example
# DATABASE_URL=postgresql://postgres.PROJECT_REF:YOUR_PASSWORD@aws-0-REGION.pooler.supabase.com:5432/postgres?sslmode=require
# DATABASE_MIGRATION_URL=postgresql://postgres:YOUR_PASSWORD@db.PROJECT_REF.supabase.co:5432/postgres?sslmode=require
# DATABASE_REQUIRE_SSL=true
